{{#md-toolbar class='tool-bar'}}
    <div class="md-toolbar-tools">
        {{#md-button class="md-icon-button small-btn" click=(action 'bold')}}
            {{md-icon md-svg-src="images/icons/bold.svg" class="s24"}}
        {{/md-button}}
        {{#md-button class="md-icon-button small-btn" click=(action 'italic')}}
            {{md-icon md-svg-src="images/icons/italic.svg" class="s24"}}
        {{/md-button}}
        {{#md-button class="md-icon-button small-btn" click=(action 'list')}}
            {{md-icon md-svg-src="images/icons/list_unord.svg" class="s24"}}
        {{/md-button}}
        {{#md-button class="md-icon-button small-btn" click=(action 'code')}}
            {{md-icon md-svg-src="images/icons/code.svg" class="s24"}}
        {{/md-button}}
        {{#md-button class="md-icon-button small-btn" click=(action 'table')}}
            {{#link-to 'notes.view' model.id}}
            {{md-icon md-svg-src="images/icons/table3.svg" class="s24 flat-icon"}}
            {{/link-to}}
        {{/md-button}}
    </div>
{{/md-toolbar}}
