$nav-pills-border-radius : 0;
$toolbar-height: 40px;
//@import '../../bower_components/font-awesom//e/scss/font-awesome';
@import "ember-material-design";
.margin-after-navbar {
    margin-top: $toolbar-height;
    height: 93vh;
    position: relative;
    & > div {
        padding: 10px;
    }
}

.no-padding {
    padding: 0;
}

.navbar {
    min-height: 0;
    height: $toolbar-height;
    &-inverse {
        // background-color: lighten($navbar-inverse-bg, 7%);
    }
}

[class^="fa-"] {
    font-family: FontAwesome;
}

.nav > li > a {
    // color: lighten($brand-primary,30%);
    padding: 8px 22px;
    font-size: 20px;
}

.nav-overflow {
    overflow-y: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
    // background-color: lighten($navbar-inverse-bg, 7%);
    // color: lighten($brand-primary,30%);
    // text-shadow: 0 0 1px lighten($brand-primary, 40%);
}

a {
    cursor: pointer;
}

#toolbar-holder {
    overflow: hidden;
    height: $toolbar-height;
}

.nav-justified {
    overflow: auto;
}

.nav-justified > li, .nav-tabs.nav-justified > li {
    float: none;
    display: table-cell;
    width: 1%;
    height: $toolbar-height;
}

.content-textarea {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    font-family: monospace;
    resize: none;
    border: none;
    &:hover,
    &:focus,
    &:active {
        outline: none;
    }
}

// Styles for material

#main {
    overflow: hidden;
}

.mdn-add-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.display-content {
    height: 100vh;
    overflow: auto;
}

.main-bar {
    position: fixed;
    top:0;
    left:0;
}

.any-content {
    padding-top: 64px;
    padding-bottom: 0;
    box-sizing: border-box;
    &.is-editing {
        padding-bottom: 32px;
    }

}

.single-holder {
    height: calc(100vh - 64px);
    padding: 5px;
    box-sizing: border-box;
    .is-editing & {
        height: calc(100vh - 64px - 32px);
    }
}

.wh-100 {
    position: absolute;
    height: calc(100vh - 74px);
    width: 100%;
    .is-editing & {
        height: calc(100vh - 74px - 32px);
    }
}

[layout-fill] {
    position: relative;
}

.md-html-holder {
    display: block;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    box-sizing: border-box;
    white-space: normal;
    padding-top: 10px;
    @import 'preview';
}

.tool-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 48px;
    min-height: auto;
}

.md-toolbar-tools {
    justify-content: space-around;
}

.flat-icon {
    height: 20px;
    width: 20px;
}

.content-textarea {
    line-height: 1;
}

.md-btn-disabled md-icon {
    color: rgba(0, 0, 0, 0.26);
    cursor: not-allowed;
}

.tool-bar {
    transform: translateY(100%);
    transition: .3s transform ease;
    .is-editing & {
        transform: translateY(0);
    }
}
