<div class="display-content any-content {{if isEditing 'is-editing'}}">
    {{#md-toolbar class='main-bar view'}}
        <div class="md-toolbar-tools">
            {{#md-button class="md-icon-button"}}
                {{#link-to 'notes'}}
                    {{md-icon md-svg-src="images/icons/arrow_left.svg"}}
                {{/link-to}}
            {{/md-button}}
            <span flex></span>
            {{#md-button class="md-icon-button" action='save'}}
                {{md-icon md-svg-src="images/icons/done.svg"}}
            {{/md-button}}
            {{#md-button class="md-icon-button" action='undo'}}
                <div class="{{if disabledUndo 'md-btn-disabled'}}">
                    {{md-icon md-svg-src="images/icons/undo.svg"}}
                </div>
            {{/md-button}}
            {{#md-button class="md-icon-button" action='redo'}}
                <div class="{{if disabledRedo 'md-btn-disabled'}}">
                    {{md-icon md-svg-src="images/icons/redo.svg"}}
                </div>
            {{/md-button}}
            {{#md-button class="md-icon-button" disabled=disabledView action="view"}}
                {{md-icon md-svg-src="images/icons/preview.svg"}}
            {{/md-button}}
        </div>
    {{/md-toolbar}}


    <div class="single-holder">
        <div layout="column" layout-fill style="padding-bottom: 32px;">
            <md-whiteframe class="md-whiteframe-z1 wh-100" layout layout-align="center center">
                {{md-textarea value=model.content class="content-textarea" register-as=mdTextarea isEditing=isEditing}}
            </md-whiteframe>
        </div>
    </div>

    {{md-texttoolbar mdCore=mdTextarea}}
</div>
