<div class="display-content any-content">
    {{#md-toolbar class='main-bar'}}
        <div class="md-toolbar-tools">
            {{#md-button class="md-icon-button"}}
                {{#if model.isNew}}
                    {{#link-to 'notes.add'}}
                        {{md-icon md-svg-src="images/icons/arrow_left.svg"}}
                    {{/link-to}}
                {{else}}
                    {{#link-to 'notes.edit' model.id}}
                        {{md-icon md-svg-src="images/icons/arrow_left.svg"}}
                    {{/link-to}}
                {{/if}}
            {{/md-button}}
            <span flex></span>
            {{#md-button class="md-icon-button" action='topdf'}}
                {{md-icon md-svg-src="images/icons/pdf.svg"}}
            {{/md-button}}
        </div>
    {{/md-toolbar}}

    <div class="md-html-holder">
        {{md-html value=model.content convertedHtml=convertedHtml}}
    </div>
</div>
