<div class="display-content any-content">
    {{#md-toolbar class='main-bar'}}
        <div class="md-toolbar-tools">
            <h2>
                <span>Ваши записи</span>
            </h2>
            <span flex></span>
        </div>
    {{/md-toolbar}}


    <md-content>
        {{#md-list}}
            {{#each sortedModel as |note|}}
                <div >
                    {{#md-list-item class="md-3-line"}}
                        {{#link-to 'notes.edit' note.id tagName="div" class="nl-item row" touchStart=(action 'startedTouch' note.id) touchEnd=(action 'endedTouch') }}
                            <div class="col-xs-12">
                                {{#if note.title}}
                                    <h3>{{note.title}}</h3>
                                {{/if}}
                                <span class="text-muted">{{md-moment note.date}}</span>
                                <p class="preview content">{{md-shorten note.content}}</p>
                            </div>
                        {{/link-to}}
                        <md-divider></md-divider>
                    {{/md-list-item}}
                </div>
                {{else}}
                    Sorry, no notes for you :(
            {{/each}}
        {{/md-list}}
    </md-content>

</div>

{{#md-button class="md-fab md-primary mdn-add-btn" aria-label="Add note" action="addNew" }}
        {{md-icon md-svg-src="images/icons/add.svg"}}
{{/md-button}}
